:root {
  --color1: #ffffff;
  --colorTexto: #0f1016;
  --altura:100px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: sans-serif;
}

body{
  margin: 0 12.5vw;
}

nav {
  height: var(--altura);
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.logo{
  object-fit: contain;
  width: 150px;
}

.wrapperBotones{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: black;
  border: solid;
  border-radius: 50px;
  padding: 10px;
  width: 85px;
  height: 20px;
  transition: 0.7s;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

a:hover{
  transform: scale(1.09);
}

#sidebar {
  display: none;
}

.botonSidebar{
  display: none;
}

@media(max-width: 1024px) {
  body{
    margin: 0 5vw;
  }
  
  .wrapperBotones {
    top: var(--altura);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    right: -100%;
    z-index: 10;
    width: 100%;
    transition: 0.75s ease-out;
  }

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: black;
    border: solid;
    border-radius: 50px;
    padding: 10px;
    width: 70%;
    height: 25px;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  a:hover{
    transform: scale(1.08);
  }

  .wrapperLogo{
    margin-right: auto;
  }

  .botonSidebar {
    display: block;
  }

  #sidebar:checked~.wrapperBotones {
    right: 0;
  }
}